[Unit]
Description=Run sendmail cron-msp
AssertFileIsExecutable=/etc/init.d/sendmail
AssertFileIsExecutable=/usr/share/sendmail/sendmail
AssertFileIsExecutable=/usr/libexec/sendmail/sendmail

[Service]
Type=simple
User=smmsp
ExecStart=/usr/share/sendmail/sendmail cron-msp
