[Unit]
Description=Eating...
ConditionPathIsDirectory=/home/share/dining-room
Conflicts=thinking.target
BindsTo=fork-check.service
After=fork-check.service
Wants=eating.timer eating-food.service
