[Unit]
Description=Clean Fork Check
ConditionPathIsDirectory=/home/share/dining-room/forks
CollectMode=inactive-or-failed
OnSuccess=eating.target
OnFailure=fork-request.service
StartLimitIntervalSec=0
After=hungry.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fork-check
SyslogFacility=local0
