[Unit]
Description=Neighbour Fork Request
ConditionPathIsDirectory=/home/share/dining-room/forks
CollectMode=inactive-or-failed
StartLimitIntervalSec=0
After=hungry.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fork-request
SyslogFacility=local0
