[Unit]
Description=Seat Selection
Wants=thinking.target
Before=thinking.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/select-seat
SyslogFacility=local0
