[Unit]
Description=Sticky Fork Marker
ConditionPathIsDirectory=/home/share/dining-room/forks
PartOf=eating.target
Before=thinking.target

[Service]
Type=oneshot
SyslogFacility=local0
RemainAfterExit=yes
ExecStop=/usr/local/bin/sticky-fork
