[Unit]
Description=Thinking Period
ConditionPathIsDirectory=/home/share/dining-room
PartOf=thinking.target

[Timer]
Unit=hungry.target
RandomizedDelaySec=30
OnActiveSec=0
AccuracySec=1us
RemainAfterElapse=false
