[Unit]
Description=Thinking Period
PartOf=thinking.target
ConditionPathIsDirectory=/home/share/dining-room

[Timer]
Unit=eating.target
RandomizedDelaySec=30
OnActiveSec=0
AccuracySec=1us
RemainAfterElapse=false
