[Unit]
Description=Thinking...
ConditionPathIsDirectory=/home/share/dining-room
Conflicts=eating.target hungry.target
Wants=thinking.timer contemplation.service
