[Unit]
Description=Eating Period
ConditionPathIsDirectory=/home/share/dining-room/seats
PartOf=eating.target
StartLimitIntervalSec=0

[Timer]
Unit=thinking.target
RandomizedDelaySec=30
OnActiveSec=0
AccuracySec=1us
RemainAfterElapse=false
