[Unit]
Description=Thinking Period
PartOf=thinking.target
After=eating-food.service
StartLimitIntervalSec=0

[Timer]
Unit=hungry.target
RandomizedDelaySec=60
OnActiveSec=0
AccuracySec=1us
RemainAfterElapse=false
